* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #A3C1AD;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}


.head-img {
  height: 200px;
  width: 500px;
  align-self: center;
}


.links a {
  text-decoration: none;
  color: #fff;
}

.links li a:hover {
  color: #A3C1AD; 
}

.nav-container {
  display: flex;
  justify-content: space-around;
  background-color: #005F30; 
  color: #FFFFFF; 
  height: 40px;
  align-items: center;
  margin: 0 1%;
}

.links {
  display: flex;
  gap: 40px;
  list-style: none;
}

.head-container {
  display: flex;
  justify-content: space-around;
  height: 500px;
  background-color: #2E8B57; 
  color: #FFFFFF; 
  margin: 0 1%;
  padding-right: 10%;
}

.intro-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  padding: 10%;
}

.intro-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 550px;
  flex-wrap: wrap;
  gap: 20px;
}



.section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  gap: 10px;
  width: 140px;
  text-align: center;
  text-wrap: wrap;

}



.image-1 {
  height: 140px;
  width: 140px;
  border-radius: 12px;
  border: 4px solid #005F30;
}



.quote-card {
  margin: 0 1%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F4E7D3; 
  padding: 20px 30px; 
  border-radius: 10px;
  font-size: 30px;
  margin-bottom: 10%;
}


.take-action-card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.take-action {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333; 
  background-color: #F4E7D3; 
  border-radius: 10px;
  font-size: 1.2rem;
  width: 1000px;
  padding: 30px 30px;
  gap: 30px;
}


h2 {
  text-align: center;
}

.action-button {
  background-color: #4CAF50; 
  color: #FFFFFF; 
  border: none;
  padding: 10px 2em;
  border-radius: 5px;
  cursor: pointer;
  width: 20rem;
}

.header-bttn {
  background-color: #4CAF50; 
  color: #FFFFFF; 
  border: none;
  padding: 1em 1em;
  border-radius: 5px;
  cursor: pointer;
}

.footer-container {
  background-color: #333333; 
  color: #FFFFFF; 
  padding: 20px 0; 
  margin: 0 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}



